* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 98%;
  margin-left: 1%;
  border: 1px darkblue solid;
  border-radius: 50px;
}

.form-section {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingH2 {
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: space-between; /* Horizontal arrangement */
  margin-bottom: 10px;
}

.option-button {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #6c63ff;
  color: white;

  cursor: pointer;
  border-radius: 35px;
  flex-grow: 1; /* Spread buttons evenly */
  text-align: center;
  margin: 0 5px; 
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #ddd;
  color: #6c63ff;
}

.selected {
  background-color: #6c63ff;
  color: white;
}

.form-container {
  margin-top: 10px;
}

.input-group {
  /* margin-bottom: 20px; */
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.otp {
  display: flex;
  justify-content: start;
  gap: 5px;
}
.send-otp {
  display: flex;
  justify-content: start;
  gap: 5px;
}
#otp-input {
  width: 40%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#otp-button {
  min-width: 30%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-in-button {
  background-color: #6c63ff;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

.image-section {
  width: 50%;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 40px 0px 0px 40px;
}

.hr-line-with-text {
  margin-top: 4px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hr-line-with-text hr {
  flex: 1;
  border: none;
  border-top: 1px solid #504d4d; /* Adjust color and thickness */
  margin: 0px; /* Adjust spacing */
}

.hr-line-with-text span {
  padding: 0px 5px;
  font-weight: lighter; /* Adjust font style */
}

.d-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.down-button {
  height: 40px;
  width: 48%;
  border-radius: 8px;
}

@media (max-width: 880px) {
  .container {
    display: block;
    height: 110vh;
    border: 1px darkblue solid;
    /* border: none; */
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .image-section {
    display: none;
  }
  .form-section {
    width: 100%;
    padding: 10% 15% 10% 15%;
    display: flex;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .form-section {
    width: 100%;
    padding: 10% 10% 10% 10%;
    display: flex;
    text-align: center;
  }
}
@media (max-width: 475px) {
  .form-section {
    width: 100%;
    padding: 5%;
    display: flex;
    text-align: center;
  }
  .options {
    display: flex;
    justify-content: space-between; /* Horizontal arrangement */
    margin-bottom: 20px;
  }
}
